.ls {
  color: black;
  background-color: pink;
}
.gs {
  color: black;
  background-color: pink;
}
.bac1 {
  color: black;
  background-color: pink;
}
.bac2 {
  color: black;
  background-color: pink;
}

.room {
  color: black;
  background-color: pink;
}
.angel {
  color: black;
  background-color: pink;
}
h1 {
  color: black;
  background-color: pink;
}
img {
  width: 200px;
  margin: 50px;
  height: 200px;
  padding: 10px;
}
.nav {
  display: block;
}
