* {
  flex: none;
}
.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}
.countries--first {
  flex-direction: row-reverse;
  content: normal;
}
.countries--second {
  flex-direction: row;
  justify-content: space-between;
}
.countries--third {
  flex-direction: column;
  padding-top: 200px;
}
.countries--fouryh {
  display: flex;
  flex-direction: row;
  content: normal;
}

/* Add your own CSS code below */
